body, html {
  margin: 0;
  height: 100vh;

}
::-webkit-scrollbar {
  width: 10.5px;
}

/* Track / */
::-webkit-scrollbar-track {
  background:#a6dae6;
}

/* / Handle / */
::-webkit-scrollbar-thumb {
  background: rgb(114, 167, 207);
}

/* / Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 202, 226);
}